TecnologiaTextil.FacturacionClientXP/Connected Services/ServiceEfact/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.166.19/ServiceFacturacion/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ProcesaFacturaElectronica">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tabla" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcesaFacturaElectronicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ProcesaFacturaElectronicaResult" nillable="true" type="q1:ResultFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerLogResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ObtenerListaLogResult" nillable="true" type="q2:ArrayOfResultListLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>